.login{
  justify-self: end;
   cursor: pointer;
   text-align: center;
  height: 6rem;
   list-style: none;
   border:1px solid wheat;
}


.login a {
  color: white;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  font-family: font-display;
  letter-spacing: .3rem;
}

.login li{

}
