<div class="section-header">
  <div class="profile">
    <img
      src="../../../assets/dog_lunettes_sm.jpg"
      alt="dog"
      class="profile__pictures profile__pictures__img--1"
    />
    <img
      src="../../../assets/dog_listening.jpg"
      alt="dog"
      class="profile__pictures profile__pictures__img--2"
    />
  </div>

  <div class="header">
    <li  class="btn btn-primary btn-lg login" routerLinkActive="primary-activated"  routerLink="/login"><a >Login</a></li>
    <!-- <li><a routerLink="/register"   routerLinkActive="nav-activated">Register</a></li> -->
    <h1 class="heading-1">DOG FACE</h1>

    <div class="header__seenon-text">dashboard</div>
    <div class="header__seenon-logos">
      <img src="../../../assets/dod_bc_white.JPG" alt="Seen on logo 1" />
      <img src="img/logo-forbes.png" alt="Seen on logo 2" />
      <img src="img/logo-techcrunch.png" alt="Seen on logo 3" />
      <img src="img/logo-bi.png" alt="Seen on logo 4" />
    </div>
  </div>
</div>

